* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general {
  font-family: 'Kalam', cursive;
}

.index-15{
  position: relative;
  z-index: 15;
}


.fuente-footer {
  font-family: Arial, Helvetica, sans-serif;
}

.detras {
  position: fixed;
  background-color: #D9C3A9;
}

/* Fonts */



/* Variables */



/* Basics */



/* profile */
.tittle {
  font-size: 1.5em;
}

.userInfo {
  font-size: 1.3em;
}


/* Main Header */
.fondo-header {
  
  background-image: url("../images/header/HEADER.jpg");
  background-size: 100%;
}

.logo-users-success{
  color: darkgreen;
}

.md {
  display: none;
}



.navbar-light .navbar-nav .nav-link{
  font-size: 22px;
}



@media (max-width:992px) {
  .fondo-oscuro {
    background-color: rgba(191, 172, 149, .5);
  }

  .izq {
    margin-left: 0px;
    text-align: center;

  }

  .navbar-light .navbar-nav .nav-link {
    color: black;
  }
  

  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    background-color: #D9C3A9;

  }


  .mi-input {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #79685C;
    border-radius: 4px;
    font-size: 16px;
    background-color: #BFAC91;
    background-image: none;
    background-position: 95% 60%;
    background-size: 8%;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 14px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: -45px;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: 1;
  }

  .mi-input:focus {
    width: 150px;
  }

  .mi-input::placeholder { color: rgba(0, 0, 0, 0.8); }

}



.logo-header {
  width: 300px;
  margin-left: -100px;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

/*(Tablet)*/
@media (min-width: 600px) and (max-width: 992px) {
  .contenedor-padre-redes {
    width: 308px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -100px;
    justify-content: space-between;
  }


  .laurel-L {
    margin-top: 5px;
    transform: rotate(-4deg);
    margin-left: -80px;
    width: 60%;
    opacity: 0;
    animation-duration: 2s;
    animation-name: movimiento-L;
    animation-iteration-count: 1;
  }


  .laurel-R {
    transform: rotate(0deg);
    width: 100%;
    margin-left: 15px;
    opacity: 0;
    animation-duration: 2s;
    animation-name: movimiento-R;
    animation-iteration-count: 1;

  }


  @keyframes movimiento-R {
    from {
      opacity: 1;
      margin-left: -900px;
      width: 100%
    }

    to {
      opacity: 0;
      transform: rotate(0deg);
      width: 100%;
      margin-left: 15px;
    }
  }

  @keyframes movimiento-L {
    from {
      opacity: 1;
      margin-left: 200%;
      width: 60%
    }

    to {
      opacity: 0;
      margin-top: 5px;
      transform: rotate(-4deg);
      margin-left: -80px;
      width: 60%;
    }
  }

  
  .mi-input {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #79685C;
    border-radius: 4px;
    font-size: 16px;
    background-color: #BFAC91;
    background-image: none;
    background-position: 95% 60%;
    background-size: 8%;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 14px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: -25px;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: 1;
  }

  .mi-input:focus {
    width: 150px;
  }
  .fondo-oscuro {
    background-color: rgba(191, 172, 149, .0);
  }
}






/*(smartphone)*/
@media (max-width:600px) {
  .contenedor-padre-redes {
    width: 141px;
    margin-left: -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .laurel-L {
    margin-top: 5px;
    transform: rotate(-4deg);
    margin-left: -80px;
    width: 200px;
    opacity: 0;
    animation-duration: 2s;
    animation-name: movimiento-L;
    animation-iteration-count: 1;
  }

  .laurel-R {
    display: none;
  }


  @keyframes movimiento-L {
    from {
      opacity: 1;
      margin-left: 100%;
      width: 200px;
    }

    to {
      opacity: 0;
      margin-top: 5px;
      transform: rotate(-4deg);
      margin-left: -80px;
      width: 200px;
    }
  }
  .izq {
    margin-left: 0px;
  }
  .fondo-oscuro {
    background-color: rgba(191, 172, 149, .0);
  }
  
}






/*(navar separacion)*/
@media (min-width: 1790px) {
  .izq {
    margin-left: 205px;
  }
}
@media (min-width: 1650px) and (max-width: 1790px) {
  .izq {
    margin-left: 170px;
  }
}
@media (min-width: 1370px) and (max-width: 1650px) {
  .izq {
    margin-left: 120px;
  }
}
@media (min-width: 992px) and (max-width: 1370px) {
  .izq {
    margin-left: 45px;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

.navbar-toggler {
  background-color: rgba(0, 0, 0, 0.4)
}

.navbar-toggler:hover {
  background-color: rgba(0, 0, 0, 0.1)
}

.logo-redes-instagram{
  color: black;
}

.logo-redes-instagram:hover{
  color: #e1306c;
}

.logo-redes-facebook{
  color: black;
}

.logo-redes-facebook:hover{
  color: #3b5998;
}

.logo-users {
  color: black;
}

.logo-users:hover {
  color: red;
}

.logo-carrito{
  color: black;
}

.logo-carrito:hover{
  color: rgb(15, 128, 0);
}


.navbar {
  width: 103%;
  justify-content: center;
  font-size: 1.5em;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

#navbarNav {
  justify-content: flex-start;
}










/*(Escritorio)*/
@media (min-width:992px) {
  .navbar-light .navbar-nav .nav-link {
    color: black;
  }

  .contenedor-padre-redes {
    display: flex;
    flex-wrap: wrap;
    margin-left: -100px;
    width: 120%;
    justify-content: space-between;
  }

  .fondo-oscuro {
    background-color: rgba(191, 172, 149, .5);
    margin-left: -26px;
    padding-bottom: 18px;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
  }

  .laurel-L {
    margin-top: 5px;
    transform: rotate(-4deg);
    margin-left: -80px;
    width: 60%;
    animation-duration: 1s;
    animation-name: movimiento-L;
    animation-iteration-count: 1;
  }

  .mi-input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #79685C;
    border-radius: 4px;
    font-size: 16px;
    background-color: #BFAC91;
    background-image: url('/images/header/search-solid.svg');
    background-position: 95% 60%;
    background-size: 8%;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 14px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: -60px;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: 1;
  }

  .mi-input:focus {
    width: 100%;
  }

  .mi-input::placeholder { color: rgba(0, 0, 0, 0.8); }

  .laurel-R {
    transform: rotate(0deg);
    width: 100%;
    margin-left: 15px;
    animation-duration: 1s;
    animation-name: movimiento-R;
    animation-iteration-count: 1;

  }


  @keyframes movimiento-R {
    from {
      opacity: 0;
      margin-left: 150px;
      width: 100%
    }

    to {
      opacity: 1;
      transform: rotate(0deg);
      width: 100%;
      margin-left: 15px;
    }
  }

  @keyframes movimiento-L {
    from {
      opacity: 0;
      margin-left: -300px;
      width: 60%
    }

    to {
      opacity: 1;
      margin-top: 5px;
      transform: rotate(-4deg);
      margin-left: -80px;
      width: 60%;
    }
  }

  .logo-header {
    width: 125%;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
  }

  
}






/* Footer */

.fondo-footer{
  background-color: #BFAC91;
  object-fit: cover;
}

.lista-footer{
  color: #79685C;
  margin-top: 10px;
}

.lista-footer:hover{
  text-decoration: none;
  color:black;
}


.lista1-footer{
  color: black;
  margin-top: 10px;
}

.lista1-footer:hover{
  text-decoration: none;
  color:#79685C;
}

.espacio-lista-footer{
  margin-top: 10px;
}

/*(Smartphones)*/
@media (max-width: 600px){
  .logo-footer{
    width: 100%;
  }
}
/*(tablet)*/
@media (min-width: 600px) and (max-width: 992px) {
  .logo-footer{
    width: 80%;
  }
}
/*(escritorio)*/
@media (min-width: 992px){
  .logo-footer{
    width: 70%;
  }
}


/* HOME */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.1);
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  color: white;
  }

/*(Smartphones)*/
@media (max-width: 600px){
  .carousel-caption {
    bottom: 50px;
    font-size: 2em;
    }    
    .titulo-burger a:hover {
      text-decoration: none;
      color: darkred;
      font-size: 2em;
    }
    
    .container-fluid.fondo-local.caja-flexible.general h1{
      font-size: 3em;
    }

    .fondo-cafe {
      background-position-y: 62%;
    }
    
}



/*(tablet)*/
@media (min-width: 600px) and (max-width: 992px) {
  .carousel-caption {
    bottom: 100px;
    font-size: 2em;
   }  
   .titulo-burger a:hover {
    text-decoration: none;
    color: darkred;
    font-size: 2em;
  }
  
  .container-fluid.fondo-local.caja-flexible.general h1{
    font-size: 6em;
  }

  .fondo-cafe {
    background-position-y: 62%;
  }
    
  
}


/*(ESCRITORIO MD)*/
@media (min-width: 992px) and (max-width: 1650px) {
    .carousel-caption {
      bottom: 200px;
      font-size: 3em;
     }

     .titulo-burger a:hover {
      text-decoration: none;
      color: darkred;
      font-size: 1.6em;
    }
    
    .container-fluid.fondo-local.caja-flexible.general h1{
      font-size: 6em;
    }

    .fondo-cafe {
      background-position-y: 62%;
    }
    
  }


/*(escritorio lg/x)l*/
@media (min-width: 1650px){
  .carousel-caption {
    bottom: 500px;
    font-size: 4em;
   }

   .titulo-burger a:hover {
    text-decoration: none;
    color: darkred;
    font-size: 2em;
  }
  .container-fluid.fondo-local.caja-flexible.general h1{
    font-size: 6em;
  }
   

  .fondo-cafe {
    background-size: 105%;
    background-position-y: 34%;
  }
}

@media (min-width: 2000px){
  .fondo-torta {
    background-size: 100%;
  }
}


/*(HAMBURGUESA)*/
.fondo-ladrillo {
  background-color: darkred;
  opacity: 0.5;
  transition: 0.5s;
}

.fondo-ladrillo:hover {
  background-image: url("/images/Home/categories/fondo-hamburguesa.jpg");
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
}

.titulo-burger a {
  text-decoration: none;
  color: black;
  font-size: 1.5em; 
  transition: 1s;
}


.tam-burger {
  margin-left: 14%;
  width: 65%;
  opacity: 1;
}


.fondo-categoria{
  background-color: black;
}



/*(TORTA)*/

.fondo-torta {
  background-image: url('/images/Home/categories/fondo-torta.jpg');
  background-position: 0%;
  opacity: 0.4;
  transition: 0.5s;
}

.fondo-torta:hover {
  background-image: url('/images/Home/categories/fondo-torta.jpg');
  background-position: 0%;
  opacity: 1;
}

.titulo-torta a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  transition: 1s;  
}
  
.titulo-torta a:hover {
  text-decoration: none;
  color: darkgoldenrod;
  font-size: 2em;
 }

 .tam-cake{
  width: 50%;
  margin-left: 27%;
  margin-top: 0%;
  opacity: 1;
}

 /*(CAFE)*/

 .titulo-cafe a {
  color: beige;
  font-size: 1.5em;
  transition: 1s;
  filter: blur(1.5px);
}
  
.titulo-cafe a:hover {
  text-decoration: none;
  color: azure;
  font-size: 2em;
  filter: blur(0px);
 }

 .tam-cafe {
  width: 43%;
  margin-left: 29%;
  margin-top: 10%;
  opacity: 1;
}




.fondo-cafe {
  background-image: url('/images/Home/categories/fondo-cafe.jpg');
  opacity: 0.4;
  transition: 0.5s;
}



.fondo-cafe:hover{ 
  opacity: 1;
}

.fondo-torta {
  background-image: url('/images/Home/categories/fondo-torta.jpg');
  background-position: 0%;
  /* background-size: 100%; */
  opacity: 0.4;
  transition: 0.5s;
}


.fondo-torta:hover{ 
  opacity: 1;
}


/*(BRUNCH)*/
.fondo-brunch {
  background-color: #E9CAC7;
  opacity: 0.5;
  transition: 0.5s;
}

.fondo-brunch:hover {
  background-image: url("/images/Home/categories/fondo-sandwich.jpg");
  opacity: 1;
}
.tam-brunch {
  width: 84%;
  margin-left: 9%;
  margin-top: 15%;
  opacity: 1;
}






/*(LOCAL)*/
.fondo-local {
  background-image: url("/images/Home/Local/local.JPG");
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  justify-content: center;
  display: flex;
}

.container-fluid.fondo-local.caja-flexible.general{
  height: 100%;
}

.container-fluid.fondo-local.caja-flexible.general h1:hover{
  filter: blur(0px);
}

.container-fluid.fondo-local.caja-flexible.general h1{
  background-color: rgba(255, 0, 0, 0.1);
  margin-top: 500px;
  margin-bottom: 100px;
  padding: 30px;
  border-radius: 10px;
  filter: blur(1.5px);
  transition: 0.5s;
}

.container-fluid.fondo-local.caja-flexible.general h1 a:hover{
  text-decoration: none;
}

/*(home mensaje)*/
.fondo-mensaje-home{
  background-image: url(/images/Home/categories/pizza.png);
    background-position: 0% -16%;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.container-fluid.fondo-mensaje-home.general h2{
  margin-top: 600px;
}

.texto-pizza {
  margin-top: 50px;
  text-align: center;
}


/* CARRITO */

.color-darkred{
  color: darkred;
}

.card-text{
  font-size: 22px;
}

<<<<<<< HEAD
=======
.card-text{
  font-size: 22px;
  color: darkred;
}

>>>>>>> 8a949ace29db00b0561e8f9dbf42746db4dea9fd
.tam-text{
  font-size: 23px;
}

.conteiner-carrito{
  background-color: darkred;
  width: 100%;
  height: 100%;
}

.fondo-carrito{
  width: 100%;
}

.container.general h3{
  font-size: 20px;
}

.ejemplo-foto-carrito{
  width: 200px;
}

@media (max-width: 992px){
  
.container.general h3{
  font-size: 15px;
}


.ejemplo-foto-carrito{
  width: 130px;
}

}


.row.border-bottom.my-3.i{
  color: darkred;
}

























/* PRODUCTOS */
.bottomFilter{
    width: 50%;
    padding: 3px;
    text-align: center;
}

.transparentButtom{
  border: none;
  background-color: transparent;
}

.tarjetas-productos {
  border: none;
  margin-bottom: 30px;
}

.reset-link a {
  color: black;
  text-decoration: none;
}

.filtro-lg {
  font-size: 20px;
}

.lista-filtro-productos {
  color: black;
}

.lista-filtro-productos:hover{
  text-decoration: none;
  color:#79685C;
}

li.lista-filtro-productos  {
  list-style: none;
}

.cartel-aviso-productos {
  color: darkred;
  border: 0.7px solid darkred;
}

.titulo-productos a:hover {
  text-decoration: none;
  color:#79685C;
}

.tarjetas-productos {
  height: 330px;
}

.titulo-precio {
  margin-right: 5px;
}

.precio-producto {
  color: darkred;
  font-weight: 600;
}

.add-to-cart-products a{
  color: rgba(191, 172, 149, .6);
}

.add-to-cart-products a:hover{
  color: rgb(191, 172, 149);
}

.more-info {
  font-size: 10px;
  bottom: 25px;
  right: 10px;
}

.more-info:hover{
  color: rgb(191, 172, 149);
}

.product-card-inProducts:hover {
  transform: scale(1.1);  
}



@media (min-width: 768px){


}




/* PRODUCTO */

.image-prince{
  width: 700px;
  
}

.image-second{
  width: 250px;
}

.logo-redes-twitter:hover{
  color: #1DA1F2;
}

.logo-redes-google:hover{
  color: #F4B400;
}

.logo-redes-email:hover{
  color: rgb(229, 255, 0);
}

.logo-redes-whatsapp:hover{
  color: #25d366;
}

.product-card-inProductDetail:hover{
  transform: scale(1.1);  
}



.productos-recomendados .card {
  border: none;
  
}



.productos-recomendados a:hover {
  text-decoration: none;
  color: unset;
  
}


/* CREAR PRODUCTO */

.formulario-crear-producto {
  background-color: rgba(191, 172, 149, 0.8);
  padding: 80px 155px;
  /* margin: 0px; */
}

@media (max-width: 754px){
  .formulario-crear-producto {
    padding: 30px;
    
    /* margin: 0px; */
  }
}

.form-style {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.upload-file1, .upload-file2 {
  width: 100%;
  margin-left: .30rem!important;
  margin-right: .30rem!important;
}

.upload-file1 {
  margin-bottom: 10px;
}


@media (min-width: 992px){
  .upload-file1, .upload-file2 {
   width: 48%;
  }
  .upload-file1 {
    margin-bottom: 0px;
  }
}





/* EDITAR PRODUCTO */





/* LOGIN */

.fondo-login {
  background-image: url('/images/user-register/pan.png');
  background-size: 120%;
  background-repeat: no-repeat;
  }

  .formulario-login {
    padding: 155px;
    /* margin: 0px; */
}

.registrarme{
  background-color: firebrick;
  border-color: firebrick;
}

.registrarme:hover {
  
  background-color: darkred;
  border-color: darkred;
}



@media (max-width: 754px){
  .formulario-login {
    padding: 30px;
    
    /* margin: 0px; */
}
.fondo-login {
  background-position: -151px px;
}
}


@media (min-width: 754px) and (max-width: 1104px){
  
}
  
@media (min-width: 1104px){
  .fondo-login {
    background-position: -144px -302px;
}
}



/* REGISTER */


.fondo-registro {
  background-image: url('/images/user-register/milk.png');
  background-size: 120%;
  background-repeat: no-repeat;
  }

.formulario-registro {
  background-color: rgba(191, 172, 149, 0.8);
  padding: 155px;
  /* margin: 0px; */
}

.registrarme{
  background-color: firebrick;
  border-color: firebrick;
}

.registrarme:hover {
  
  background-color: darkred;
  border-color: darkred;
}



@media (max-width: 754px){
  .formulario-registro {
    padding: 30px;
    
    /* margin: 0px; */
  }
  .fondo-registro {
    background-position: -151px px;
  }
}


@media (min-width: 754px) and (max-width: 1104px){
  
}
  
@media (min-width: 1104px){
  .fondo-registro {
    background-position: -144px -900px;
}
}



/* ERROR */

.fundo {
  animation: scales 3s alternate infinite;
  transform-origin: center;
}

.pao-baixo {
  animation: rotatepao 14s cubic-bezier(.1, .49, .41, .97) infinite;
  transform-origin: center;
}

.pao-cima {
  animation: rotatepao 7s 1s cubic-bezier(.1, .49, .41, .97) infinite;
  transform-origin: center;
}

.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}

.left-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 150px 156px;
}

.right-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 310px 150px;
}

.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}

@keyframes scales {
  from {
    transform: scale(0.98)
  }

  to {
    transform: scale(1)
  }
}

@keyframes rotatepao {
  0% {
    transform: rotate(0deg)
  }

  50%,
  60% {
    transform: rotate(-20deg)
  }

  100% {
    transform: rotate(0deg)
  }

}

@keyframes olhos {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(30deg);
  }
}

@keyframes left-sparks {
  0% {
    opacity: 0;
  }

}


.main {

  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 4s alternate infinite;
}

@keyframes dash {

  0%,
  30% {
    fill: 4B4B62;
    stroke-dashoffset: 0;
  };

  80%,
  100% {
    fill: transparent;
    stroke-dashoffset: -200;
  };
}