<header>
    <div class="container-fluid fondo-header">
        <div class="row">
            <div class="col-5">
                <img src="/images/header/more/arbol-izquierada.png" class="laurel-L" alt="laurel">
            </div>

            <div class="col-2 lg">
                <img src="/images/header/logo.png" class="logo-header" alt="ROMA">

                <div class="contenedor-padre-redes">
                    <div>
                        <i class="fab fa-facebook fa-1x"></i>
                        <i class="fab fa-instagram fa-1x"></i>
                    </div>
                    <div>
                        <i class="fas fa-user fa-1x"></i>
                        <i class="fas fa-shopping-cart fa-1x"></i>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <p> </p>
            </div>



            <div class="col-2">
                <img src="/images/header/more/arbol-derecha.png" class="laurel-R" alt="laurel-R">
            </div>


            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse fondo-oscuro" id="navbarNav">
                    <ul class="navbar-nav">
                       <li class="nav-item izq active">
                           <a class="nav-link propiedades-link" href="#">Home <span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item izq">
                           <a class="nav-link" href="">Features</a>
                       </li>
                       <li class="nav-item izq">
                           <a class="nav-link" href="#">Pricing</a>
                       </li>
                       <li class="nav-item izq">
                           <a class="nav-link disabled" href="#">Disabled</a>
                       </li>
                       <li class="nav-item izq">
                        <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>