<header>
    <div class="container-fluid fondo-header">
        <div class="row">
            <div class="col-5">
                <img src="/images/header/para animar header/Arbol izquierada.png" class="laurel-L" alt="laurel">
            </div>
            <div class="col-2">
                
                <img src="/images/header/logo.png" class="logo-header" alt="ROMA">
              
                <i class="fab fa-facebook fa-2x"></i>
                <i class="fab fa-instagram fa-2x"></i></div>
               
            </div>
                
            <div class="col-2">
                <p> </p>
            </div>
            
            <div class="col-3">
                <img src="/images/header/para animar header/arbol de la derecha.png" class="laurel-R" alt="laurel-R">
            </div>

        </div>
    </div>
</header>