<header>
    <div class="container-fluid fondo-header general">
        <div class="row">
            <div class="col-5">
                <img src="/images/header/more/arbol-izquierada.png" class="laurel-L" alt="laurel">
            </div>

            <div class="col-3">
                <img src="/images/header/logo.png" class="logo-header" alt="ROMA">

                <div class="contenedor-padre-redes">
                    <div>
                        <a href="#" class="logos-redesF"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#" class="logos-redes"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                    <div>
                        <a href="#" class="text-danger"><i class="fas fa-user fa-2x"></i></a>
                        <a href="#" class="logos-redes"><i class="fas fa-shopping-cart fa-2x"></i></a>
                    </div>
                </div>
                <form>
                    <input class="mi-input" type="text" name="search" placeholder="Buscar">
                  </form>
            </div>

            <div class="col-2">
                <p> </p>
            </div>



            <div class="col-2">
                <img src="/images/header/more/arbol-derecha.png" class="laurel-R" alt="laurel-R">
            </div>


            <nav class="navbar navbar-expand-lg navbar-light fondo-oscuro">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                       <li class="nav-item izq">
                           <a class="nav-link" href="#">Inicio <i class="fas fa-stroopwafel"></i></i><span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item izq">
                           <a class="nav-link" href="">Productos <i class="fas fa-cheese"></i></a>
                       </li>
                       <li class="nav-item izq">
                           <a class="nav-link" href="#">¿Quienes somos? <i class="fas fa-bread-slice"></i></a>
                       </li>
                       <li class="nav-item izq">
                           <a class="nav-link" href="#">Promociones <i class="fas fa-hamburger"></i></a>
                       </li>
                       <li class="nav-item izq">
                        <a class="nav-link" href="#">Contacto <i class="fas fa-cookie"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>