<footer>
    <div class="container-fluid fondo-header-footer fuente-footer fondo-footer" >
      <div class="row">
      <div class="col-md-1">
        <p> </p>
      </div>
      <div class="col-6 col-md-4 d-flex align-items-center">
        <a href="/"><img class="logo-footer" src="/images/logos/logo-footer.png" alt="ROMA"></a>
      </div>
      <div class="col-6 col-md-3">
        <ul class="espacio-lista-footer" style="list-style-type: circle;">
          <li class="espacio1-lista-footer">
            <a class="lista-footer" href="/">Inicio <i class="fas fa-stroopwafel"></i></i><span
                class="sr-only">(current)</span></a>
          </li>
          <li class="espacio-lista-footer">
            <a class="lista-footer" href="/productos">Productos <i class="fas fa-cheese"></i></a>
          </li>
          <li class="espacio-lista-footer">
            <a class="lista-footer" href="#">¿Quienes somos? <i class="fas fa-bread-slice"></i></a>
          </li>
          <li class="espacio-lista-footer">
            <a class="lista-footer" href="#">Promociones <i class="fas fa-hamburger"></i></a>
          </li>
          <li class="espacio-lista-footer">
            <a class="lista-footer" href="#">Contacto <i class="fas fa-cookie"></i></a>
          </li>
        </ul>
       </div>
       <div class="col-12 col-md-3">
        <ul class="espacio-lista-footer" style="list-style-type: none;">
          <li class="espacio-lista-footer">
            <a class="lista1-footer" href="#">CONTACTO</a>
          </li>
          <li class="espacio-lista-footer">
            <a class="lista1-footer" href="#">CALLE Y NUMERO</a>
          </li>
          <li class="espacio-lista-footer">
            <a class="lista1-footer" href="#">LOCALIDAD</a>
          </li>
          <li class="espacio-lista-footer">
            <a class="lista1-footer" href="#">TELEFONO</a>
          </li>          
          <li class="espacio-lista-footer">
            <a class="lista1-footer" href="#">MAIL</a>
          </li>
        </ul>
       </div>
       <div class="col-md-1">
        <p> </p>
      </div>
    </div>
    </div>
</footer>