<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
  <!-- Header -->
  <%- include('partials/header.ejs') %>
  <!-- /Header -->
  
    
  <%- include('home/carrusel.ejs') %>

     


  <!-- footer -->
  <%- include('partials/footer.ejs') %>
  <!-- /footer -->

</body>

</html>