<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
  <!-- Header -->
  <%- include('partials/header.ejs', {user:user}) %>
  <!-- /Header -->
  
    
  <%- include('home/carrusel.ejs') %>
  <div>
  <div class="container-fluid general tam-text-2 fondo-categoria">
    <div class="row">
      <div class="col-12 col-lg-5 fondo-ladrillo">
        <a href="#"><img src="/images/Home/categories/burger.png" class="tam-burger" alt="Productos salados"></a>
        <h2 class="titulo-burger text-center"><strong><a href="#">Productos salados</a></strong></h2>
      </div>
      <div class="col-12 col-lg-7 fondo-torta">
        <h2 class="titulo-torta text-center my-2"><strong><a href="#">Productos dulces</a></strong></h2>
        <a href="#"><img src="/images/Home/categories/cake2.png" class="tam-cake" alt="Productos dulces"></a>
      </div>
    </div>
  </div>
  <div class="container-fluid fondo-local caja-flexible general">
    <div>
      <h1><a href="#" class="text-white" >¡Conocenos!</a></h1>
    </div>
  </div>
  <div class="container-fluid fondo-mensaje-home general">
    <div class="row">
      <div class="col-12 col-xl-8">
        <h2> </h2>
      </div>
      <div class="col-12 col-xl-4">
        <div class="texto-pizza">
              
                <h1 class="font-weight-bold">mensaje</h1>
                
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum molestias eos neque provident quidem distinctio
              perspiciatis quam qui! Provident natus quisquam eaque, id aspernatur laborum aliquid eos iusto recusandae voluptatum?</p>
           </div>
        </div>
    </div>
   
  </div>
  <div class="container-fluid general tam-text-2 fondo-categoria">
    <div class="row">
      <div class="col-12 col-lg-7 fondo-cafe">        
        <a href="#"><img src="/images/Home/categories/cafe.png" class="tam-cafe" alt="Productos dulces"></a>
        <h2 class="titulo-cafe text-center my-3"><strong><a href="#">Meriendas</a></strong></h2>
      </div>
      <div class="col-12 col-lg-5 fondo-brunch">
        <a href="#"><img src="/images/Home/categories/sandwich.png" class="tam-brunch" alt="Productos salados"></a>
        <h2 class="titulo-burger text-center"><strong><a href="#">Brunch</a></strong></h2>
      </div>
    </div>
  </div>
</div>


  <!-- footer -->
  <%- include('partials/footer.ejs') %>
  <!-- /footer -->

</body>

</html>